* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
}

main {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

img {
  display: block;
  margin: 20px auto;
  width: 400px;
  height: 600px;
  object-fit: cover;
  opacity: 0; 
  transition: opacity 1s ease-in-out;
}

footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #020202;
}